// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-ad-panel{
	border: 1px solid red;
	.panel-body{
		border: 1px solid blue;
		.form-group{
			direction: rtl;
		}
	}
} 
	 
.ad-show {
	border: 1px solid red;
	direction: rtl;
}