// Place all the styles related to the galeries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
	padding: 15px;
}

#cover{
margin-bottom: 45px;
}
.form-sign-in-up {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}