body{
	margin-top: 60px;
	direction: rtl;
}

.navbar-fixed-top{
	background: #fff;
	border:  #fff

}

.container{
	margin:0 50px;
	background: none repeat scroll 0 0 #F9F9F9;
	
}

#main-content{
	padding: 20px;
	border: 1px solid #A2A09F

}
#main-content #search-ad-panel{
	border: 1px solid black;
	float: right;
	width: 30%
}

