// Place all the styles related to the SearchAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_ads_index{
	.panel{
		padding: 20px;
		#search_ads_raw{
			display: block;
			border-bottom: 1px solid #EEE;
			padding: 10px;
			&:hover,&:active{
				background:#dEE;
			}
			.col-sm-3{
				width: 25%;
			}
			.ad-info{
				border-left: 1px solid #EEE;
				border-right: 1px solid #EEE;
			}
			.ad-date{
				border-left: 1px solid #EEE;

			}
		}
	}
}

#user_show {
		.search_ads_raw{
			border-bottom: 1px solid #EEE;
			padding: 10px;
			&:hover,&:active{
				background:#F9F9F9;
			}
		}
	}
