// Place all the styles related to the SearchAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_ads_index{
	.panel{
		padding: 20px;
		.search_ads_raw{
			border-bottom: 1px solid #EEE;
			padding: 10px;
			&:hover,&:active{
				background:#dEE;
			}
		}
	}
}

#user_show {
	.panel{
		padding: 20px;
		.search_ads_raw{
			border-bottom: 1px solid #EEE;
			padding: 10px;
			&:hover,&:active{
				background:#EEd;
			}
		}
	}
}
