// Place all the styles related to the SearchAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-content .panel{
	border:1px solid #A2A09F;
}


#main-content .search-ads-index{
	float: right;
	width: 60%;
	padding: 30px;
}


#main-content .search-ads-index ul {
	list-style-type:none;
}

#main-content .search-ads-index li{
	border-bottom:1px solid #A2A09F;
	padding: 10px;
}

#main-content .search-ads-index li .first{
	border-top: 1px solid black;
}